.menu {
  position: sticky;
  top: 0;
  width: 250px;
  max-width: 250px;
  height: 100%;
  overflow-y: auto;
  padding: @distance 12px;
  background-color: #fff;
  border-radius: @border-radius-base;
}

.title {
  color: @heading-color;
  font-weight: bold;
  font-size: 32px;
  line-height: normal;
  padding: 0 12px;
  margin-bottom: @distance;
  text-align: center;
}

.group {
  color: @text-color-secondary;
}

.collapsed {
  width: 50px;
}

.item {
  cursor: pointer;
  padding: 12px;
  border-radius: @border-radius-base;
  transition: background-color @transition-duration @transition-timing-function;

  a {
    color: @heading-color;
  }

  i {
    font-size: 12px;
    opacity: 0.6;
    display: block;
  }

  &:hover {
    background-color: fade(@hover-bg, 5%);
  }

  &.active {
    background-color: fade(@hover-bg, 10%);
    font-weight: 500;
  }
}
